fastapi
uvicorn
python-dotenv
langchain
langchain-openai
langchain-community
openai
pinecone-client
pydantic
pydantic-settings
requests
aiofiles
python-multipart
gitpython
chardet
PyYAML
sentence-transformers
streamlit
llama-cpp-python
